table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;

}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    padding-left: 30px
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding-left: 50px
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.submit {
    margin-top: 30px;
    margin-right: 50px;
    text-align: center;
}

input {
    text-align: left;
    border: 1px;
}

.load {
    margin-top: 5px;
    margin-right: 10px;
    padding: 8px 20px !important;
}
